.git
.gitignore
.venv
__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
.mypy_cache

build
dist
infra/terraform
deploy/lambda_dispatcher

data
docs
tests
interview_practice

*.pdf
*.html
*.jsonl
*.log
.env
